@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Charles\%20Talbot\/wdi\/rails_apis\/shmoovies_repo\/shmoovies_front_end\/app\/styles\/partials\/_nav\.scss}line{font-family:\000032}}
.navbar {
  height: 200px;
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 10px;
  width: 100%;
}
