body {
  @include defaults;
  font: $body-font;
  background-color: $black-10;
  margin: 0;

  section .main-content {
    font-size: 250px;
    font: $header-font;
    #header h1 {
      text-align: center;
    }
  }
}
