body {
  @include defaults;
  font: $body-font;
  background-color: $black-10;
  margin: 0;

  section.main-content {
    font-size: 250px;
    font: $header-font;
    #header h1 {
      text-align: center;
    }
    #show-content {
      // text-align: center;
      margin: 10px;

      #movie-poster-show {
          padding: 10px;
          margin: 10px;
          float: left;
      }
    }
    div#search-results {
      padding: 80px;
      width: 400px;
      h1 a {
        padding: 10px;
        display: inline;
        text-decoration: none;
        color: $black-50;
      }
    }
    .review-form {
      float: right;
      padding: 20px;
      border: 1px solid $black;
    }
  }
}
