logo#brand-logo {
  font: 100% Helvetica, sans-serif;
  font-size: 80px;
  text-align: center;
  font-style: uppercase;
  color: $white;
  margin: 0px;
  padding: 0px;

  h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    background: $black;
  }
}
