logo.brand-logo {

  text-align: center;
  font-style: uppercase;
  background-color: $black;
  color: $white;
  padding: 0px;
  width: 100%;
  font-family: 'Henny Penny', cursive;
  text-decoration: none;
  text-decoration-color: white;

  a{
    font-size: 50px;
    text-decoration: none;
  }
  h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    background: $black;
    text-decoration: none;
    margin: 0px;
    font-size: 50px;

    a, a:visited {

      color: $white;
      font-size: 5px;
      text-decoration: none;
    }

  }
  p {
    color: $white;
    background: $black;
    margin: 0px;
  }

}
