logo.brand-logo {

  text-align: center;
  font-style: uppercase;
  color: $white;
  padding: 0px;
  width: 100%;
  font-family: 'Henny Penny', cursive;

  h1 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    background: $black;

    margin: 0px;
    font-size: 50px;

    a, a:visited {
      text-decoration: none;
      color: $white;
      font-size: 5px;
    }

  }
  p {
    color: $white;
    background: $black;
    margin: 0px;
  }

}
