.navbar {
  height: 75px;
  // position: fixed;
  top: 60px;
  left: 0;
  padding-left: 10px;
  width: 100%;
  background-color: rgba(68, 51, 43, 0.9);

  ul {
    @include defaults;
    list-style: none;
  }
}
