
body {

  .main-content {

    #show-content{
      #movie-poster-show{
        img{
          padding: 0px 15px 0px 0px;
        }
      }
    }



    #review-form {
      .new-review-form {
        width: 500px;
        #new-review {
          padding: 10px;
        }
      }
    }
  }
}
