body {
  .main-content {
    #show-reviews{
      #one{
        p:hover{
          font-size: 125%;
          font-family: 'Henny Penny', cursive;
        }
      }
    }
  }
  #show-content{
    #movie-poster-show{
      img{
        padding: 0px 40px 0px 0px;
      }
    }
    #movie-text-show{
      padding: 20px 0px 0px 0px;
      text-align: center;
    }
  }
  #review-form {
    margin: 0 auto;
    .new-review-form {
      #new-review {
        padding: 10px;
      }
    }
  }
}


