
body {
img{
  padding: 0px 15px 0px 0px;
}
  .main-content {
    display: inline-block;



    #review-form {
      .new-review-form {
        width: 500px;
        #new-review {
          padding: 10px;
        }
      }
    }
  }
}
