section.main-content {
  #scroller-div {
  height: 281px;
  width: 80%;
  // margin: 0 auto 0 auto;
  // display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: $white;
  margin: 0 auto 0 auto;

  #movies-slider{
    width: 3000px;
    height: 281px;
    img {
      // position: relative;
      display: inline-block;
      float: left;
    }
  }

    #slider-banner {
      text-align: center;
    }
  }
}
